/* Универсальный селектор */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Селектор по тегу */
body{
        background-color: rgba(0, 0, 0, 0.514);
    }
    
ul {
background-color: rgb(0, 174, 255);
    color: #fff; /* Контрастный цвет текста */
    padding: 50px;
    border-radius: 10px;
}
li{
    color: #fff; /* Контрастный цвет текста */
}
/* Селектор по классу */
.lis{
    list-style-type: '\2764';
    list-style-image: url(изображения\im.png);
    padding-left: 20px;
}

/* Дочерний селектор */
td>img {

width: 200px;
    height: 200px;
    border-radius: 20px 20px;

    border: 5pt solid #5200af;
    box-shadow: 0 17px 32px rgba(86, 9, 127, 0.74);/* Тень */
   
}

/* Контекстный селектор */
td b {
color: rgb(255, 3, 3);
    /* Красный цвет текста */
}

/* Псевдокласс */
.styled-image:hover {
    transform: scale(1.3);
    /* Увеличение при наведении */
}
/* Анимация с ключевыми кадрами */
          @keyframes rotate {
              from {
                  transform: rotate(0deg);
              }
    
              to {
                  transform: rotate(360deg);
              }
            }
              .rotating-element {
                  animation: rotate 2s linear infinite;
                  /* Поворот на 360 градусов за 2 секунды */
              }
/* Стили для текста */
p{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
/* Псевдоэлемент */
p::first-letter {/*псевдоэлемент*/
    font-family: 'Times New Roman', Times, serif;
    /* Гарнитура шрифта первой буквы */
    font-size: 2em;
    /* Размер первой буквы */
    color: rgb(2, 225, 255);
    /* Красный цвет текста */
    font-weight: 600;
}
/* Стили для текстовых элементов */
b {
    font-weight: 700;
    color: #4b0082;
}

i {
    font-style: italic;
    color: #ff009d;
}

u {
    text-decoration: underline;
    text-decoration-color: #ff6347;
}
a:link {/* Псевдокласс */
    color: rgb(0, 88, 27);
    /* Цвет непосещенных ссылок */
}

a:visited {
    color: rgb(6, 97, 95);
    /* Цвет посещенных ссылок */
}

a:hover {
    color: #f00;
    /* Цвет ссылок при наведении на них
курсора мыши */
}

a:active {
    color: #ff0;
    /* Цвет активных ссылок */
}

ol.numbered-list {
    list-style-type: decimal;
    padding-left: 40px; /* Отступ для цифр */
}

ul.custom-list {
    list-style-type: disc;
    padding-left: 40px;
}

ul.dashed-list {
    list-style-type: none;
    padding-left: 20px;
}
ul.dashed-list li::before {
    content: "- ";
    margin-right: 10px;
}