/* Стили для таблицы */
table {

    background-color: rgba(23, 81, 217, 0.765);
    color: rgb(40, 219, 255);
    border-collapse: separate;
    border-color: #5bd5fe;
    border: 5pt solid;
}
/* Селектор по идентификатору */
#jch {
    background-color: #005161fa;
    border: calc(2pt*2) solid;
    /*вычисляемые еденицы*/
    /* Цвет фона ячеек */
}
/* Селектор атрибутов */
a[href$=".ru/"] {
    color: rgb(99, 216, 134);
    /* селектор атрибутов */
}
/* Стили для кнопок */
button:hover {
    background-color: #7adced;
    /* Цвет фона при наведении */
}
/* Стили для кнопок */
button {
    width: 120px;
    padding: 10px;
    background-color: #007BFF;
    /* Цвет фона кнопки */
    color: white;
    /* Цвет текста кнопки */
    border: none;
    /* Убираем стандартный бордер */
    border-radius: 4px;
    /* Закругление углов */
    cursor: pointer;
    /* Курсор при наведении */
    font-size: 16px;
}
/* Стили для форм */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(59, 169, 223, 0.804);
    width: 300px;

}

input:required {
    border-radius: 5px;
    border: 1px solid rgb(0, 174, 255);
    /*  рамка для обязательных полей */
}

input:focus {
    border-color: #ff002f;
    /* Цвет бордера при фокусе */
    outline: none;
    /* Убираем стандартный контур */

}

input[type="radio"] {

    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #0004ff;
}



/* Стили для выпадающего списка */
select {
    outline: none;
    padding: 5px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

select:hover {
    border-color: #0056b3;
    /* Изменяем цвет рамки при наведении */
}
/* Соседний селектор */
h3+a{/*соседние*/
    color: rgb(207, 108, 16);
    /* Красный цвет текста */
}